<div class="main-container container">
    
<div class="bs-example">
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Изображение</th>
        <th>
           <a href="/?r=task/index&sort=userName"> Имя</a> </th>
        <th>E-mail</th>
        <th>Текст</th>
        <th> 
        <a href="/?r=task/index&sort=status"> Статус</a> </th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
        <tr>
           <td>1</td>
                <td>
                    <img src="public/images/jean.jpg" width="60px" href="60px">
                </td>
                <td>Жан-Клод</td>
                <td>jeanyao@yahoo.com</td>
                <td>Тест</td>
                <td>
                    <span class="label label-success">Выполнена</span>
                </td>
                <td>
                    <a href="">
                        <span class="glyphicon glyphicon-pencil btn-sm btn-primary"></span>
                    </a>
                </td>
            </tr>
     </tbody>
</table>
<p>
    <a class="btn btn-md btn-success" href="">Создать новую задачу</a>
</p>
</div>
